<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>:p.send(:p, :p){% if page.title %} | {{page.title}}{% endif %}</title>
  <link rel="stylesheet" href="/css/normalize.css" type="text/css" />
  <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
  <link rel="stylesheet" href="/css/site.css" type="text/css" />
</head>
<body>
  <header>
    <h1><a href="/"><ruby>:p<rt>ぴー</rt>.send<rt>せんど</rt>(:p<rt>ぴー</rt>, :p<rt>ぴー</rt>)</ruby></a></h1>

    mokoaki<br>
    mokoriso@gmail.com
  </header>

  <hr>

  <article>
    {{ content }}
  </article>

  <hr>

  <footer>
    {% for post in site.posts %}
      <div>
        <a href="{{ post.url }}">{{ post.title }} {{ post.date | date: "%Y/%m/%d" }}</a>
      </div>
    {% endfor %}
  </footer>

  <script src="/js/jquery-3.2.1.min.js"></script>
  <script src="/js/site.js"></script>
</body>
</html>
